@keyframes slidein {
  from {
    margin-right: 5%;
    width: 5%;
  }

  to {
    margin-right: 100%;
    width: 300px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Style page content */
.main {
  margin-left: 205px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

a {
  color: #111;
}

.bio {
  margin-left: 320px;
  margin: auto;
  width: 30vw;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.photo {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

.photo img {
  width: 200px;
  height: 280px;
  object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  display: block;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
  margin-top: 0;
}

h2 {
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -65%);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.2;
}

/* Ends */

#author {
  font-family: Helvetica, Arial;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
}

#author:hover {
  color: #111;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
#nav-btn {
  fill: white;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 7px;
  display: none;
}
.vertical-line {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 35px;
  border-bottom: #f7f7f7 4px solid;
}

body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
}

aside {
  position: fixed;
  float: left;
  width: 205px;
  padding-top: 30px;
  padding-left: 25px;
  top: 0;
  bottom: 0;
  background-color: #554758;
  z-index: 400;
}

nav {
  display: block;
}

nav ul {
}

nav ul li {
  line-height: 30px;
}

nav ul li a {
  color: #e3e2e2;
}

nav ul li a:hover {
  color: #2b99ff;
}

#products {
  padding-top: 40px;
  font-weight: bold;
  color: #f7f7f7;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 50px;
  font-size: 1.5em;
}

@media (max-width: 730px) {
  h2 {
    font-size: 2em;
  }
  aside {
    float: left;
    width: 95%;
    padding-left: 5%;
    position: relative;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav {
    display: none;
  }
  #nav-btn {
    fill: white;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 7px;
    top: 7px;
    display: block;
    cursor: pointer;
  }
  h1 {
    margin-bottom: 0px;
  }
  .vertical-line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
  }
  #products {
    padding-top: 0;
  }
  main {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 50px;
  }
}
